/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** Custom Styles **/

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    color: #919191;
}

button {
    box-shadow: none;
    border: 0;
    outline: 0;
}

/**general **/
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.justify-center{
    justify-content: center;
}
.wrap {
    flex-wrap: wrap;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 32px;
}

a {
    text-decoration: none;
}

.btn {
    padding: 10px 36px;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    font-weight: 700;
}

.btn-primary {
    background-color: #e96c77;
    color: #ffffff;
    border: 2px solid #e96c77;
}

.btn-secondary {
    border: 2px solid #d6d1d1;
    color: #555555;
}

.padding {
    padding: 80px 0;
}

.section-header {
    text-align: center;
    margin-bottom: 56px;
}

.heading {
    font-size: 32px;
    color: #555555;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 16px;
}

.sub-heading {
    color: #919191;
    margin-top: 16px;
}

/*bar */

.line-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.align-start{
    align-items: flex-start;
}
.line{
    width: 180px;
    height: 2px;
    background-color: #d1cccc;
    margin: 4px 0;
}
.line2{
    width: 140px;
}
.line3{
    width: 100px;
}


/** header **/
.navbar {
    padding: 32px 0;
    position: absolute;
    width: 100%;
}

.navbar li {
    margin-left: 32px;
}

.navbar a {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
}

.navbar .brand {
    font-size: 24px;
    font-weight: 700;
}
.submenu-box{
    position: relative;
}
.sub-menu{
    position: absolute;
    background-color: #ffffff;
    width: 180px;
    top: 32px;
    display: none;
    left: 50%;
    transform: translate(-50%);
}
.submenu-box:hover .sub-menu{
    display: inline-block;
}
.sub-menu .fa-solid{
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    top: -12px;
    left: 50%;
    transform: translate(-50%);
}
.sub-menu li{
    margin-left: 0;
}
.sub-menu a{
    text-transform: capitalize;
    color: #808080;
    font-weight: 400;
    padding: 8px 12px;
    display: inline-block;
    border-bottom: 1px solid #b6afaf;
    width: 100%;
}
/** hero **/

.hero {
    background: url(../media/banner.svg) 0 100% repeat-x, linear-gradient(rgba(50, 51, 70, 1), rgba(50, 51, 70, 1));
    padding: 180px 0;
    color: #ffffff;
    text-align: center;
}

.hero-heading {
    font-size: 56px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;

}

.hero-subheading {
    font-size: 32px;
    margin: 24px 0;
    color: #e96c77;
}

/** feature **/

.col-1-3 {
    width: 30%;
    text-align: center;
    border-bottom: 2px solid #bcbcbc;
    padding-bottom: 32px;
}

.icon-box {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 24px;
    background: linear-gradient(45deg, #d1606a 50%, #e96c76 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.col-heading {
    font-size: 28px;
    text-transform: uppercase;
    color: #555555;
    font-weight: 700;
    margin: 16px 0;
}

/** service **/

.service {
    background-color: #e96c76;
    color: #ffffff;
}

.service .heading, .service .sub-heading {
    color: #ffffff;
}

.col-1-2 {
    width: 47%;
    text-align: center;
    background-color: #ec828c;
    padding: 44px 32px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

.service .col-heading {
    color: #ffffff;
}

.service .icon-box {
    background: linear-gradient(45deg, #515360 50%, #5b5b6a 50%);
}

.service-wrapper {
    max-width: 1100;
    margin: 0 auto;
}

.service .line{
background-color: #ffffff;
}
/**blog **/

.blog .col-1-3 {
    border-bottom: 0;
    width: 30%;
}

.blog img {
    width: 100%;
}

.blog .btn {
    margin: 24px 0;
}

/** contact **/

.contact-wrapper {
    border-bottom: 1.5px solid #bcbcbc;
    padding-bottom: 44px;
    padding: 0 44px;
    max-width: 1100px;
    margin: 0 auto
}

.form {
    width: 60%;
}

.form-control {
    display: block;
    width: 100%;
    border: 1px solid #bcbcbc;
    padding: 12px 16px;
    margin-bottom: 24px;
    font-family: "open Sans" sans-serif;
}

.form-control ::placeholder {
    color: #bcbcbc;
}

.contact-list {
    width: 35%;
}

.contact-list li {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #e4dfdf;
    padding: 17px 0;
}

.contact-icon {
    background-color: #808080;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.contact-list li:last-child {
    border-bottom: 0;
}
.twitter {
    background-color: #4eafdb;
}

.fb {
    background-color: #446bc9;
}

.linkedin {
    background-color: #3491d9;
    border-bottom: 0;
}

/**footer **/

.footer-menu{
    justify-content: center;
}
.footer-menu a{
    padding: 0 16px;
    border-right: 1px solid #bcbcbc;
    color: #919191;
}

.footer-menu li:last-child a{
border-right: 0;
}
.copyright{
    text-align: center;
    margin-top: 32px;
    color: #b9b3b3;
}